@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pokémon Lookup</h1>
    
    <form action="/pokemon" method="get">
        <input type="text" id="name" name="name" placeholder="Enter a pokemon" autofocus required>
        <input type="submit" value="Search">
    </form>
</div>